<a routerLink="/Cadastrar" class="myButton">Cadastrar</a>

<table border="1">
    
    <div style="overflow-x:auto;" class="card" *ngFor="let pessoa of pessoas">
        <tr>
            <th>Nome</th>
            <th>Profissão</th>
            <th>Gosto Musical</th>
            <th> Genero</th>
          </tr>
          <tr>
          
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.profissao}}</td>
            <td>{{pessoa.gostoMusical}}</td>
            <td>{{pessoa.genero}}</td>
          </tr>
          </div>
       
       
   
</table>

